<h3><a class="btn btn-secondary" href="/pharm"><i class="fa fa-plus"></i>Add New Medicine</a> Medicine Details</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Pharmacy Name</th>
            <th>Medicine Name</th>
	    <th>Stock</th>
	    <th>Cost/medicine</th>
            <th>Mobile</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.pname}}</td>
            <td>{{this.mname}}</td>
	    <td>{{this.stock}}</td>
	    <td>{{this.cost}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.city}}</td>
            <td>
                <a href="/pharm/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/pharm/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>